<?php

/* Rename this to config.php
 */

return [
	// This configuration is optional. If set, log will be sent to list of
    // `recipients` email addresses
    'log' => [
		'recipients' => [],
	],
];
