<?php

/* Rename this to credentials.php
 */

return [
	'my-server-1' => [
		'key' => 'my-access-key-id',
		'secret' => 'my-secret-access-key',
		'volumeId' => 'vol-12345678',
		'region' => 'us-west-2'
	],

	'my-server-2' => [
		'key' => 'my-access-key-id',
		'secret' => 'my-secret-access-key',
		'volumeId' => 'vol-87654321',
		'region' => 'us-west-1'
	],
];
