<?php

/* Rename this to credentials.php
 */

return [
	'my-server-1' => [
		'key' => 'my-access-key-id',
		'secret' => 'my-secret-access-key',
		'volumeId' => 'vol-12345678',
        'days_to_keep' => 7, // Number of days to keep backup, default 7
		'region' => 'us-west-2', // Default 'ap-southeast-1'
	],

	'my-server-2' => [
		'key' => 'my-access-key-id',
		'secret' => 'my-secret-access-key',
		'volumeId' => 'vol-87654321',
        'days_to_keep' => 7, // Number of days to keep backup, default 7
		'region' => 'us-west-1', // Default 'ap-southeast-1'
	],
];
